body {
    margin: 0px;
    padding: 0px;
    padding-top: 30px; 
    width: 100%;
    height:100%;
    display: inline-block;
    font-family: 'Nunito Sans';
    background-color:whitesmoke;
    text-decoration: none;
  }

  /* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { 
    display: block !important; 
}
m{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.phone {
    display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 1023px) {
    .pc { 
        display: none !important; 
    }
    .phone { 
        display: block !important; 
    }
    header {
        text-align: center;
    }
    m{
    font-size: 15px;
    }
}

header {
    background-color: white;
    color: rgb(80, 80, 80);
    box-shadow: 0 5px 3px rgba(128, 128, 128, 0.534);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    font-family: 'Klee One';
    position: fixed;
    width:100%;
    top: 0px;
    font-weight: 700;
    font-size: 25px;
    position: fixed;
}

footer {
    background: -moz-linear-gradient(76deg,gray,darkgray,lightgray,darkgray,gray);
    background: -webkit-linear-gradient(76deg,gray,darkgray,lightgray,darkgray,gray);
    background: linear-gradient(76deg,gray,darkgray,lightgray,darkgray,gray);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    font-size: 15px;
    color: white;
}

footer h5 {
    font-size: 10px;
    font-family: 'Raleway';
}

footer h6 {
    font-size: 100px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
 color: #0c0c0c;
 text-decoration: none;
}

img {
    width: 60%;
}

header a {
    color: gray;
    text-decoration: none;
}

.font-style1 {
    font-family: 'Georama';
}

#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .loaded {
    opacity: 0;
    visibility: hidden;
  }

.center {
    text-align: center;
    padding-top: 300px;
}

#center {
    text-align: center;
}

a h6 {
    color: bark-gray;    
}


::selection {
    background: rgb(224, 224, 224);
    color: white;
}

::-moz-selection {
    background: rgb(224, 224, 224);
    color: white;
}

html {
    scrollbar-width: thin;
    scrollbar-color: gray lightgray;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
