:lang(ja) {
    font-family: 'Noto Sans','Noto Sans JP';
    font-weight: 200;
}

.red {
  color: red;
  display: inline;
  font-weight: 700;
  padding-left: 10px;
}

html {
    font-size: 100%;
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Noto Sans','Noto Sans JP';
    font-weight: 200;
    scrollbar-width: thin;
    scrollbar-color: gray lightgray;
}

.nomodal {
  z-index: 1;
}

body {
  color: #1d1d1f;
  margin: 0;
}

#main {
    margin: 0 10%;
}

ruby rt {
  visibility: hidden;
}

a {
  color: #3d3d3d;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

a:hover {
  text-decoration: underline;
}

/* header style */

#header {
  width: 100%;
  background-color: white;
  z-index: 10;
  top: 0;
  text-align: center;
}
#header .header-inner {
  height: 80px;
  display: flex;
  padding-right: 10%;
  padding-left: 2.5%;
}

#header .header-inner .logo {
  flex-shrink: 0;
  line-height: 1px;
  margin-right: 10%;
  font-size: 25px;
  padding-top: 25px;
}

#navi {
  width: 100%;
}

#navi ul {
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

@media screen and (min-width: 905px) {
  #navi ul {
    display: flex;
    text-align: center;
  }
}

#navi a {
  height: 44px;
  line-height: 44px;
  display: inline-block;
  color: black;
  font-size: 16px;
  padding: 0 10px;
  opacity: 0.8;
  transition: all 0.5s;
}

#navi a:hover {
  opacity: 1;
}
#drawer_input {
  display: none !important;
}

@media screen and (max-width: 905px) {
/*hamburger menu*/

.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0s;
  position: absolute;
}

.hamburger {
  margin-top: 40px;
  padding-right: 20px;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 100%;
  left: 0%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgba(122, 122, 122, 0.918);
  transition: .5s;
  text-align: center;
  margin-top: 50px;
}

#navi a {
  color: white;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

.nav_item a {
  color: #fff;
  text-decoration: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  bottom: 0;
}
}

.topimage h1 {
    font-family: 'Noto Serif JP';
    font-size:75px;
}

.topimage {
    background: linear-gradient(200deg,rgb(48, 184, 48),rgb(255, 136, 0));
    padding: 10%;
    color: white;
    font-weight: 500;
    font-size: 25%;
}

footer {
    background: linear-gradient(gray,rgb(154, 154, 154));
    color: white;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 80px;
    bottom: 0;
}

footer a {
    color: white;
    bottom: 0;
}

.color_seince {
    background-color: rgb(178, 214, 228);
    color: white;
    padding: 20px;
    margin: 40px;
    display: flex;
}

.color_seince a {
    color: white;
}

.color_seince_h1 {
    font-size: 25px;
}

.color_seince img {
    width: 25%;
}

.infor {
  padding-left: 10%;
}

.noscript {
  background-color:rgba(221, 248, 255, 0.486);
  font-family: sans-serif;
}

@media screen and (min-width:905px) {
    .phone_br {
        display: none;
    }
}

@media screen and (max-width:905px) {
  .color_seince {
    background-color: rgb(178, 214, 228);
    color: white;
    padding: 20px;
    margin: 40px;
    display: inline-block;
}

.color_seince a {
    color: white;
}

.color_seince_h1 {
    font-size: 25px;
}

.color_seince img {
    width: 100%;
}

.infor {
  padding-left: 0;
}
}

/*rightclick menu*/

#conmenu {
  display:none;
  position:fixed;
  left:0px;
  top:0px;
  widows: 150px;
  height:100px;
  background-color: rgb(237, 237, 237);
  border:1px solid gray;
}

#conmenu.show {
  display: block;
}

#conmenu li {
  list-style: none;
  margin: 0px;
  padding: 5px;
  cursor:pointer;
}

::selection {
  background: gray;
  color: #fff;
}
